body {
    font-family: Arial, sans-serif;
    background-color:  #91eced;
  }
  
  header {
    background-color: #1ca4a5 ;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: #373F51
  }

 section h2 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #373F51
  }
  
  nav {
    display: flex;
    justify-content: left;
    background-color: #6ee3e3;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #555;
  }
  
  main {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  main section {
    background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
    padding: 20px;
    margin: 0 10px;
    max-width: 700px;
  }

  main section p {
    line-height: 1.5;
  }
  
  .center{
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:50%

  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #000000; /* pievienojam apakšējo robežu */
  }
  
  th {
    background-color: #ab4646;
    border-bottom: 2px solid #000000;
  }
  
  tr:nth-child(even) {
    background-color: #935050;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  