/* General styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-image: url("../Images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header styles */
header {
  background-color: transparent;
  backdrop-filter: brightness(40%);
  color: #fff;
  padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1900fa;
}

/* Section styles */
section {
    background-color: #fff;
    color: #333;
    height: 480px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    color: #fff;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    background-color: transparent;
    backdrop-filter: brightness(40%);
    width: 100%;

}

a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.btn {
  display: block;
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #444;
}

#add-pop {
  display: none;
  position: absolute;
  top: 250px;
  left: 30px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 2;
}

#add-pop.active {
  display: block;
}

#close-btn {
  margin-left: 10px;
}

.list {
  max-width: 1000px;
  margin: 0 auto;
}

.tabulaBox {
  margin-top: 50px;
  overflow-x: auto;
  background-color: transparent;
  backdrop-filter: brightness(40%);
  color: #fff;
}

.table-sortable {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.table-sortable th {
  border: 2px solid #b7b0b0;
  padding: 10px;
}

.table-sortable td {
  border: 2px solid #b7b0b0;
  padding: 10px;
}

.dzest1, .labot1 {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dzest1 {
  background-color: #1ad750;
  color: #fff;
  
}

.labot1 {
  background-color: #4CAF50;
  color: #fff;
}

.dzest1:hover, .labot1:hover {
  background-color: #e60000;
}

#veiksmigi {
  color: green;
  margin-top: 20px;
}

/* Media queries */

  
  .input {
    width: calc(100% - 20px);
  }
