body {
    font-family: Arial, sans-serif;
    background-color:  #8B4513;
  }
  
  header {
    background-color: #228B22 ;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: #373F51
  }

 section h2 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #373F51
  }
  
  nav {
    display: flex;
    justify-content: left;
    background-color: #F5F5DC;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #555;
  }
  
  main {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  main section {
    background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
    padding: 20px;
    margin: 0 10px;
    max-width: 700px;
  }

  main section p {
    line-height: 1.5;
  }
  
  .center{
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:50%

  }