body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-image: url("../Images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff
  }

 section h2 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff
  }
 
  header {
    background-color: transparent;
    backdrop-filter: brightness(40%);
    color: #fff;
    padding: 10px 20px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1900fa;
}
  
  main {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  main section {
  background-color: transparent;
  backdrop-filter: brightness(40%);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  padding: 20px;
  margin: 0 10px;
  max-width: 400px;
  }

  main section p {
    line-height: 1.5;
    color: white;
  }
  
  .center{
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:50%

  }

  footer {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    background-color: transparent;
    backdrop-filter: brightness(40%);
    width: 100%;
}

a {
font-weight: bold;
color: #f1a9a9;
text-decoration: none;
}

a:hover {
color: #000;
text-decoration: underline;
}

img.center {
    width: 30%; 
    height: auto; 
    display: block; 
  }